---
Language:     Cpp
Standard:     c++20
BasedOnStyle: LLVM
ColumnLimit:  120
IndentWidth:  4
TabWidth:     4
UseTab:       Never

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
